In [1]:
import yaml
import os
import datetime
import matplotlib.pyplot as plt
import arviz as az
import numpy as np
import pymc3 as pm
import pymc3.distributions.transforms as tr
import shutil
import theano
import theano.tensor as tt
import random
import math
import pandas as pd
from helper import load_data, initialise, get_situation, get_outcome
from model import create_model

print("Running on PyMC3 v{}".format(pm.__version__))

Running on PyMC3 v3.9.3

In [2]:
start_year = 2015
end_year = 2019
n_simulation = 10
verbose = True
train_flag = 3
save_directory = "2015-2019-500-t3"

In [3]:
"""
argumentList = sys.argv 

for arg in argumentList[1:]:
    if arg == "--verbose":
        verbose = True
    elif arg[0] == "-":
        if arg[1] == "n":
            n_simulation = int(arg[2:])
        elif arg[1] == "s":
            start_year = int(arg[2:])
        elif arg[1] == "e":
            end_year = int(arg[2:])
        elif arg[1] == "t":
            train_flag = int(arg[2:])
    else:
        save_directory = arg
            
if save_directory[-1] == "/":
    save_directory = save_directory[:-1]
"""

print("Start Year:", start_year)
print("End Year:", end_year)
print("Number of simulations:", n_simulation)
print("Save Directory:", save_directory)
print("Train flag:", train_flag)
print("Verbose:", verbose)

deliveries_data, matches, first_innings_data, second_innings_data, both_innings_data = load_data(start_year, end_year)

first_innings_data = both_innings_data[both_innings_data["inning"] == 1]
second_innings_data = both_innings_data[both_innings_data["inning"] == 2]
print("First innings data size:", len(first_innings_data))
print("Second innings data size:", len(second_innings_data))

if train_flag == 1:
    batsmen, bowlers, batsman_index, bowler_index, batsman_stats, bowler_stats, X, id1, id2, noballs_and_wides = initialise(first_innings_data)
elif train_flag == 2:
    batsmen, bowlers, batsman_index, bowler_index, batsman_stats, bowler_stats, X, id1, id2, noballs_and_wides = initialise(second_innings_data)
else:
    batsmen, bowlers, batsman_index, bowler_index, batsman_stats, bowler_stats, X, id1, id2, noballs_and_wides = initialise(both_innings_data)
    
noballs_and_wides_count = sum(list(noballs_and_wides.values()))
total_balls = sum([len(X[i]) for i in range(9)]) + noballs_and_wides_count

print("Number of noballs and wides:", noballs_and_wides_count)
print("Number of balls bowled:", total_balls)

for i in range(9):
    print("Balls in situation %d: %d" % (i+1, len(X[i])))
    
model = create_model(batsmen, bowlers, id1, id2, X)
print("Loaded model.")

cutpoints = np.loadtxt(save_directory + "/cutpoints.txt")
mu_1 = np.loadtxt(save_directory + "/mu_1.txt")
mu_2 = np.loadtxt(save_directory + "/mu_2.txt")
delta = np.loadtxt(save_directory + "/delta.txt")

mu_1_sorted = sorted([(mu_1[i], batsmen[i]) for i in range(len(mu_1))])
mu_2_sorted = sorted([(mu_2[i], bowlers[i]) for i in range(len(mu_2))])

print("Loaded pre-trained parameters.")

p = np.zeros(shape = (len(batsmen),len(bowlers),9,7))
for i in range(len(batsmen)):
    for j in range(len(bowlers)):
        for l in range(9):
            for k in range(7):
                if k == 0:
                    p[i,j,l,k] = 1/(1 + np.exp(-(cutpoints[l,k] - mu_1[i] + mu_2[j] - delta[l])))
                elif k == 6:
                    p[i,j,l,k] = 1 - 1/(1 + np.exp(-(cutpoints[l,k-1] - mu_1[i] + mu_2[j] - delta[l])))
                else:
                    p[i,j,l,k] = 1/(1 + np.exp(-(cutpoints[l,k] - mu_1[i] + mu_2[j] - delta[l]))) - 1/(1 + np.exp(-(cutpoints[l,k-1] - mu_1[i] + mu_2[j] - delta[l])))
                    
pw = np.zeros(shape=7)          
for i in range(7):
    pw[i] =  float(noballs_and_wides[i])/noballs_and_wides_count
v = float(noballs_and_wides_count)/total_balls

Start Year: 2015
End Year: 2019
Number of simulations: 10
Save Directory: 2015-2019-500-t3
Train flag: 3
Verbose: True
First innings data size: 36516
Second innings data size: 33673
Number of noballs and wides: 2367
Number of balls bowled: 70207
Balls in situation 1: 10329
Balls in situation 2: 13643
Balls in situation 3: 2657
Balls in situation 4: 47
Balls in situation 5: 3490
Balls in situation 6: 12246
Balls in situation 7: 7
Balls in situation 8: 212
Balls in situation 9: 25209
Loaded model.
Loaded pre-trained parameters.

In [4]:
lst = ["K Rabada", "RD Chahar", "M Santner", "Rashid Khan"]

In [5]:
print(bowler_stats[bowler_stats["Name"].isin(lst)])

      M     B  Runs  Wkts      Econ        Avg         SR         Name
89   18   415   540    36  7.807229  15.000000  11.527778     K Rabada
198   4    84    79     4  5.642857  19.750000  21.000000    M Santner
10   46  1095  1205    60  6.602740  20.083333  18.250000  Rashid Khan
45   15   324   359    15  6.648148  23.933333  21.600000    RD Chahar

In [6]:
O = {}
for bowler in lst:
    O[bowler] = []
    for l in range(9):
        for i in range(len(id2[l])):
            if id2[l][i] == bowler_index[bowler]:
                O[bowler].append((l,X[l][i],id1[l][i]))

In [7]:
for bowler in lst:
    print(bowler)
    for l in range(9):
        t = []
        cnt = 0
        runs = 0
        for i in range(len(O[bowler])):
            k = O[bowler][i][1]
            if O[bowler][i][0] == l:
                cnt += 1
                if k == 1:
                    t.append(batsmen[O[bowler][i][2]])
                elif k == 3:
                    runs += 1
                elif k == 4:
                    runs += 2
                elif k == 5:
                    runs += 3
                elif k == 6:
                    runs += 4
                elif k == 7:
                    runs += 6
        if cnt == 0: econ = 0
        else: econ = runs/cnt*6
        print("Wickets taken in situation %d:" % (l+1), t)
        print("Balls bowled in situation  %d:" % (l+1), cnt)
        print("Economy rate in situation  %d:" % (l+1), econ)

K Rabada
Wickets taken in situation 1: ['PA Patel', 'BB McCullum', 'SK Raina', 'MA Agarwal', 'AM Rahane']
Balls bowled in situation  1: 100
Economy rate in situation  1: 7.68
Wickets taken in situation 2: ['RG Sharma', 'CA Lynn', 'AB de Villiers', 'RV Uthappa']
Balls bowled in situation  2: 36
Economy rate in situation  2: 5.333333333333333
Wickets taken in situation 3: []
Balls bowled in situation  3: 20
Economy rate in situation  3: 12.0
Wickets taken in situation 4: []
Balls bowled in situation  4: 0
Economy rate in situation  4: 0
Wickets taken in situation 5: ['KD Karthik', 'AS Yadav']
Balls bowled in situation  5: 13
Economy rate in situation  5: 7.384615384615385
Wickets taken in situation 6: ['AJ Finch', 'H Viljoen', 'V Kohli', 'AD Nath', 'HH Pandya', 'STR Binny', 'R Parag', 'PA Patel']
Balls bowled in situation  6: 82
Economy rate in situation  6: 9.073170731707318
Wickets taken in situation 7: []
Balls bowled in situation  7: 0
Economy rate in situation  7: 0
Wickets taken in situation 8: []
Balls bowled in situation  8: 0
Economy rate in situation  8: 0
Wickets taken in situation 9: ['HH Pandya', 'SP Narine', 'MK Pandey', 'BCJ Cutting', 'Yuvraj Singh', 'KM Jadhav', 'PP Chawla', 'M Ashwin', 'Mohammed Shami', 'DA Warner', 'P Negi', 'DA Warner', 'V Shankar', 'B Kumar', 'K Ahmed', 'R Ashwin', 'Washington Sundar']
Balls bowled in situation  9: 164
Economy rate in situation  9: 7.280487804878049
RD Chahar
Wickets taken in situation 1: ['F du Plessis']
Balls bowled in situation  1: 11
Economy rate in situation  1: 7.090909090909092
Wickets taken in situation 2: ['CA Lynn']
Balls bowled in situation  2: 79
Economy rate in situation  2: 8.962025316455696
Wickets taken in situation 3: []
Balls bowled in situation  3: 0
Economy rate in situation  3: 0
Wickets taken in situation 4: []
Balls bowled in situation  4: 0
Economy rate in situation  4: 0
Wickets taken in situation 5: ['M Vijay']
Balls bowled in situation  5: 6
Economy rate in situation  5: 3.0
Wickets taken in situation 6: ['S Dhawan', 'AM Rahane']
Balls bowled in situation  6: 46
Economy rate in situation  6: 7.956521739130434
Wickets taken in situation 7: []
Balls bowled in situation  7: 0
Economy rate in situation  7: 0
Wickets taken in situation 8: []
Balls bowled in situation  8: 0
Economy rate in situation  8: 0
Wickets taken in situation 9: ['HM Amla', 'BB McCullum', 'J Bairstow', 'YK Pathan', 'JC Buttler', 'P Shaw', 'SS Iyer', 'SV Samson', 'BA Stokes', 'SK Raina']
Balls bowled in situation  9: 182
Economy rate in situation  9: 5.406593406593407
M Santner
Wickets taken in situation 1: ['SV Samson', 'SP Narine']
Balls bowled in situation  1: 17
Economy rate in situation  1: 4.235294117647059
Wickets taken in situation 2: ['E Lewis']
Balls bowled in situation  2: 37
Economy rate in situation  2: 5.1891891891891895
Wickets taken in situation 3: []
Balls bowled in situation  3: 1
Economy rate in situation  3: 6.0
Wickets taken in situation 4: []
Balls bowled in situation  4: 0
Economy rate in situation  4: 0
Wickets taken in situation 5: []
Balls bowled in situation  5: 7
Economy rate in situation  5: 4.285714285714286
Wickets taken in situation 6: ['RG Sharma']
Balls bowled in situation  6: 10
Economy rate in situation  6: 4.800000000000001
Wickets taken in situation 7: []
Balls bowled in situation  7: 0
Economy rate in situation  7: 0
Wickets taken in situation 8: []
Balls bowled in situation  8: 0
Economy rate in situation  8: 0
Wickets taken in situation 9: []
Balls bowled in situation  9: 12
Economy rate in situation  9: 10.5
Rashid Khan
Wickets taken in situation 1: ['BB McCullum', 'G Gambhir', 'V Kohli', 'JC Buttler']
Balls bowled in situation  1: 52
Economy rate in situation  1: 6.6923076923076925
Wickets taken in situation 2: ['AJ Finch', 'BA Stokes', 'DR Smith', 'KL Rahul', 'F du Plessis', 'P Shaw', 'AB de Villiers', 'SK Raina']
Balls bowled in situation  2: 237
Economy rate in situation  2: 7.265822784810127
Wickets taken in situation 3: []
Balls bowled in situation  3: 16
Economy rate in situation  3: 14.625
Wickets taken in situation 4: []
Balls bowled in situation  4: 0
Economy rate in situation  4: 0
Wickets taken in situation 5: ['SK Raina', 'HH Pandya', 'KD Karthik', 'AJ Finch', 'RR Pant', 'M Ali', 'Ishan Kishan', 'KM Jadhav']
Balls bowled in situation  5: 86
Economy rate in situation  5: 4.325581395348837
Wickets taken in situation 6: ['Mandeep Singh', 'SPD Smith', 'MS Dhoni', 'BCJ Cutting', 'NV Ojha', 'RR Pant', 'SS Iyer', 'HH Pandya', 'CH Gayle', 'CH Morris', 'SK Raina']
Balls bowled in situation  6: 276
Economy rate in situation  6: 6.41304347826087
Wickets taken in situation 7: []
Balls bowled in situation  7: 0
Economy rate in situation  7: 0
Wickets taken in situation 8: []
Balls bowled in situation  8: 0
Economy rate in situation  8: 0
Wickets taken in situation 9: ['TM Head', 'RG Sharma', 'DA Miller', 'WP Saha', 'EJG Morgan', 'YK Pathan', 'JC Buttler', 'KH Pandya', 'KA Pollard', 'KL Rahul', 'KK Nair', 'R Ashwin', 'JC Buttler', 'AB de Villiers', 'MS Dhoni', 'DJ Bravo', 'RV Uthappa', 'CA Lynn', 'AD Russell', 'N Rana', 'C de Grandhomme', 'PP Chawla', 'L Livingstone', 'MA Agarwal', 'DA Miller', 'R Ashwin', 'S Hetmyer', 'C Munro', 'AR Patel']
Balls bowled in situation  9: 428
Economy rate in situation  9: 6.476635514018692

In [8]:
bowler_stats = bowler_stats.sort_values(by = "Econ")

In [9]:
bowler_stats[bowler_stats["M"] >= 5].head(20)

      M     B  Runs  Wkts      Econ        Avg         SR             Name
145   5    72    71     2  5.916667  35.500000  36.000000         CH Gayle
178   7   156   155    13  5.961538  11.923077  12.000000          L Ngidi
135  12   258   273    22  6.348837  12.409091  11.727273         MA Starc
84   12   222   241     5  6.513514  48.200000  44.400000          J Yadav
10   46  1095  1205    60  6.602740  20.083333  18.250000      Rashid Khan
45   15   324   359    15  6.648148  23.933333  21.600000        RD Chahar
176   8   182   203     9  6.692308  22.555556  20.222222          I Sodhi
83   13   271   306    11  6.774908  27.818182  24.636364    Mohammad Nabi
182  14   230   265    13  6.913043  20.384615  17.692308            M Ali
114  55  1133  1310    48  6.937335  27.291667  23.604167         R Ashwin
24   53   945  1106    41  7.022222  26.975610  23.048780        KH Pandya
113  10   186   220    11  7.096774  20.000000  16.909091        IC Pandey
143   6    78    93     5  7.153846  18.600000  15.600000  Gurkeerat Singh
46   30   648   777    32  7.194444  24.281250  20.250000           Z Khan
111   6    84   101     4  7.214286  25.250000  21.000000    DJ Muthuswami
28   62  1434  1728    60  7.230126  28.800000  23.900000        SP Narine
102  15   242   292    13  7.239669  22.461538  18.615385        R Tewatia
15   34   690   833    33  7.243478  25.242424  20.909091        DL Chahar
8    72  1649  1999    95  7.273499  21.042105  17.357895          B Kumar
23   64  1461  1779    82  7.305955  21.695122  17.817073        JJ Bumrah

In [10]:
bowler_stats[bowler_stats["Name"] == "K Rabada"]

     M    B  Runs  Wkts      Econ   Avg         SR      Name
89  18  415   540    36  7.807229  15.0  11.527778  K Rabada

In [11]:
bowler_stats[bowler_stats["Name"] == "RD Chahar"]

     M    B  Runs  Wkts      Econ        Avg    SR       Name
45  15  324   359    15  6.648148  23.933333  21.6  RD Chahar

In [12]:
noballs_and_wides_count = sum(list(noballs_and_wides.values()))
total_balls = sum([len(X[i]) for i in range(9)]) + noballs_and_wides_count

print("Number of noballs and wides:", noballs_and_wides_count)
print("Number of balls bowled:", total_balls)

for i in range(9):
    print("Balls in situation %d: %d" % (i+1, len(X[i])))

Number of noballs and wides: 2367
Number of balls bowled: 70207
Balls in situation 1: 10329
Balls in situation 2: 13643
Balls in situation 3: 2657
Balls in situation 4: 47
Balls in situation 5: 3490
Balls in situation 6: 12246
Balls in situation 7: 7
Balls in situation 8: 212
Balls in situation 9: 25209

In [27]:
M = matches[((matches["team1"] == "Mumbai Indians") | (matches["team1"] == "Chennai Super Kings")) & ((matches["team2"] == "Mumbai Indians") | (matches["team2"] == "Chennai Super Kings")) & (matches["season"] >= start_year)]

In [31]:
for i in range(len(M)):
    print(M.iloc[i])

season                            2015
city                            Mumbai
date                        2015-04-17
team1                   Mumbai Indians
team2              Chennai Super Kings
toss_winner             Mumbai Indians
toss_decision                      bat
result                          normal
dl_applied                           0
winner             Chennai Super Kings
win_by_runs                          0
win_by_wickets                       6
player_of_match                A Nehra
venue                 Wankhede Stadium
umpire1                   AK Chaudhary
umpire2                      M Erasmus
umpire3                            NaN
Name: 530, dtype: object
season                                        2015
city                                       Chennai
date                                    2015-05-08
team1                          Chennai Super Kings
team2                               Mumbai Indians
toss_winner                    Chennai Super Kings
toss_decision                                  bat
result                                      normal
dl_applied                                       0
winner                              Mumbai Indians
win_by_runs                                      0
win_by_wickets                                   6
player_of_match                          HH Pandya
venue              MA Chidambaram Stadium, Chepauk
umpire1                                CB Gaffaney
umpire2                                  CK Nandan
umpire3                                        NaN
Name: 559, dtype: object
season                            2015
city                            Mumbai
date                        2015-05-19
team1                   Mumbai Indians
team2              Chennai Super Kings
toss_winner             Mumbai Indians
toss_decision                      bat
result                          normal
dl_applied                           0
winner                  Mumbai Indians
win_by_runs                         25
win_by_wickets                       0
player_of_match             KA Pollard
venue                 Wankhede Stadium
umpire1                HDPK Dharmasena
umpire2                 RK Illingworth
umpire3                            NaN
Name: 573, dtype: object
season                            2015
city                           Kolkata
date                        2015-05-24
team1                   Mumbai Indians
team2              Chennai Super Kings
toss_winner        Chennai Super Kings
toss_decision                    field
result                          normal
dl_applied                           0
winner                  Mumbai Indians
win_by_runs                         41
win_by_wickets                       0
player_of_match              RG Sharma
venue                     Eden Gardens
umpire1                HDPK Dharmasena
umpire2                 RK Illingworth
umpire3                            NaN
Name: 576, dtype: object
season                            2018
city                            Mumbai
date                          07/04/18
team1                   Mumbai Indians
team2              Chennai Super Kings
toss_winner        Chennai Super Kings
toss_decision                    field
result                          normal
dl_applied                           0
winner             Chennai Super Kings
win_by_runs                          0
win_by_wickets                       1
player_of_match               DJ Bravo
venue                 Wankhede Stadium
umpire1                 Chris Gaffaney
umpire2                A Nanda Kishore
umpire3                 Anil Chaudhary
Name: 7894, dtype: object
season                                                2018
city                                                  Pune
date                                              28/04/18
team1                                  Chennai Super Kings
team2                                       Mumbai Indians
toss_winner                                 Mumbai Indians
toss_decision                                        field
result                                              normal
dl_applied                                               0
winner                                      Mumbai Indians
win_by_runs                                              0
win_by_wickets                                           8
player_of_match                                  RG Sharma
venue              Maharashtra Cricket Association Stadium
umpire1                                     Chris Gaffaney
umpire2                                        Nitin Menon
umpire3                                      Anil Dandekar
Name: 7920, dtype: object
season                            2019
city                            Mumbai
date                          03/04/19
team1                   Mumbai Indians
team2              Chennai Super Kings
toss_winner        Chennai Super Kings
toss_decision                    field
result                          normal
dl_applied                           0
winner                  Mumbai Indians
win_by_runs                         37
win_by_wickets                       0
player_of_match              HH Pandya
venue                 Wankhede Stadium
umpire1                 Bruce Oxenford
umpire2                     Rod Tucker
umpire3                 Yeshwant Barde
Name: 11151, dtype: object
season                                  2019
city                                 Chennai
date                                26/04/19
team1                         Mumbai Indians
team2                    Chennai Super Kings
toss_winner              Chennai Super Kings
toss_decision                          field
result                                normal
dl_applied                                 0
winner                        Mumbai Indians
win_by_runs                               46
win_by_wickets                             0
player_of_match                    RG Sharma
venue              M. A. Chidambaram Stadium
umpire1                          Nigel Llong
umpire2                       Anil Chaudhary
umpire3                      Vineet Kulkarni
Name: 11335, dtype: object
season                                  2019
city                                 Chennai
date                                07/05/19
team1                    Chennai Super Kings
team2                         Mumbai Indians
toss_winner              Chennai Super Kings
toss_decision                            bat
result                                normal
dl_applied                                 0
winner                        Mumbai Indians
win_by_runs                                0
win_by_wickets                             6
player_of_match                     AS Yadav
venue              M. A. Chidambaram Stadium
umpire1                          Nigel Llong
umpire2                          Nitin Menon
umpire3                            Ian Gould
Name: 11412, dtype: object
season                                           2019
city                                        Hyderabad
date                                         12/05/19
team1                                  Mumbai Indians
team2                             Chennai Super Kings
toss_winner                            Mumbai Indians
toss_decision                                     bat
result                                         normal
dl_applied                                          0
winner                                 Mumbai Indians
win_by_runs                                         1
win_by_wickets                                      0
player_of_match                             JJ Bumrah
venue              Rajiv Gandhi Intl. Cricket Stadium
umpire1                                   Nitin Menon
umpire2                                     Ian Gould
umpire3                                   Nigel Llong
Name: 11415, dtype: object

In [15]:
model = create_model(batsmen, bowlers, id1, id2, X)
print("Loaded model.")

Loaded model.

In [16]:
cutpoints = np.loadtxt(save_directory + "/cutpoints.txt")
mu_1 = np.loadtxt(save_directory + "/mu_1.txt")
mu_2 = np.loadtxt(save_directory + "/mu_2.txt")
delta = np.loadtxt(save_directory + "/delta.txt")

In [17]:
mu_1_sorted = sorted([(mu_1[i], batsmen[i]) for i in range(len(mu_1))])
mu_2_sorted = sorted([(mu_2[i], bowlers[i]) for i in range(len(mu_2))])

In [18]:
mu_1_sorted[-40:]

[(0.10916041709637109, 'D Wiese'),
 (0.10934770894644526, 'R Ashwin'),
 (0.10993303999887889, 'JA Morkel'),
 (0.11229339161979769, 'SN Khan'),
 (0.1127478909503026, 'SP Goswami'),
 (0.11437096032879743, 'JJ Roy'),
 (0.11893518085580507, 'KA Pollard'),
 (0.11973728399627434, 'AM Rahane'),
 (0.1197641913558365, 'BA Stokes'),
 (0.12409350999910944, 'SV Samson'),
 (0.12458632572821825, 'MK Pandey'),
 (0.12529378627448076, 'A Ashish Reddy'),
 (0.12581705723980155, 'TM Head'),
 (0.1266853554262674, 'Mandeep Singh'),
 (0.12830466293186954, 'V Shankar'),
 (0.12906243607182608, 'BCJ Cutting'),
 (0.13454642220456814, 'R Parag'),
 (0.13746709676886482, 'RA Tripathi'),
 (0.13786592115940546, 'SP Narine'),
 (0.13961509731866018, 'S Curran'),
 (0.14195755943924404, 'K Gowtham'),
 (0.15013814110151574, 'SPD Smith'),
 (0.15212560290217136, 'AR Patel'),
 (0.15550969171926526, 'KS Williamson'),
 (0.16018892865044904, 'P Shaw'),
 (0.17868610861141282, 'Ankit Sharma'),
 (0.19270783896061308, 'M Ali'),
 (0.1935533371377536, 'JC Buttler'),
 (0.19691884169072882, 'HH Pandya'),
 (0.19740502632769802, 'KH Pandya'),
 (0.2080259247019169, 'KD Karthik'),
 (0.2232439755024685, 'V Kohli'),
 (0.2249605319101555, 'KL Rahul'),
 (0.22623498276584741, 'S Gill'),
 (0.2621659286910933, 'J Bairstow'),
 (0.2788092775381192, 'DA Warner'),
 (0.3143577887331379, 'CH Morris'),
 (0.3395400381343175, 'AB de Villiers'),
 (0.34579691128294526, 'RR Pant'),
 (0.3586701972069979, 'AD Russell')]

In [19]:
mu_2_sorted[-40:]

[(0.09852279207148802, 'STR Binny'),
 (0.09852584144284587, 'Washington Sundar'),
 (0.10219773812386408, 'KH Pandya'),
 (0.10376096637906598, 'S Warrier'),
 (0.10675916523356294, 'GB Hogg'),
 (0.11346459875868388, 'Z Khan'),
 (0.11929593409287752, 'R Tewatia'),
 (0.1199977642744734, 'K Rabada'),
 (0.12801482033450362, 'Harbhajan Singh'),
 (0.13195185903259793, 'MJ McClenaghan'),
 (0.13539201945396168, 'MR Marsh'),
 (0.14494299849733996, 'YS Chahal'),
 (0.14826889109842756, 'R Ashwin'),
 (0.14899405845275598, 'I Sodhi'),
 (0.14968349726117364, 'S Badree'),
 (0.15303535249415953, 'M Morkel'),
 (0.15383183548817486, 'CH Morris'),
 (0.15521730354903285, 'JW Hastings'),
 (0.15536246161082354, 'J Yadav'),
 (0.16339426600638446, 'NB Singh'),
 (0.1662217857020509, 'JJ Bumrah'),
 (0.16631971194855077, 'DJ Muthuswami'),
 (0.17145282390194005, 'SP Narine'),
 (0.17268151503019338, 'N Saini'),
 (0.17912240752051106, 'M Ali'),
 (0.1833297669435748, 'Mohammad Nabi'),
 (0.21035981926431177, 'MA Starc'),
 (0.21194677327710973, 'S Gopal'),
 (0.2186867056460441, 'A Nehra'),
 (0.21917725127242435, 'B Kumar'),
 (0.23243575671310318, 'M Santner'),
 (0.24094710069309921, 'Sandeep Sharma'),
 (0.24196041613415578, 'J Archer'),
 (0.24540323222950441, 'LH Ferguson'),
 (0.25395661843879197, 'NM Coulter-Nile'),
 (0.263307659397455, 'IC Pandey'),
 (0.2690195404698296, 'DL Chahar'),
 (0.28810047750105294, 'L Ngidi'),
 (0.29669931082734197, 'RD Chahar'),
 (0.31021393759483346, 'Rashid Khan')]

In [20]:
trace = pm.load_trace(save_directory + "/trace", model=model)

In [21]:
with open(save_directory + "/trace.pkl", 'wb') as buff:
    pickle.dump(trace, buff)

In [43]:
summary = az.summary(trace, var_names = ["mu_2"], round_to=5)

/opt/conda/lib/python3.7/site-packages/arviz/data/io_pymc3.py:91: FutureWarning: Using `from_pymc3` without the model will be deprecated in a future release. Not using the model will return less accurate and less useful results. Make sure you use the model argument or call from_pymc3 within a model context.
  FutureWarning,

In [55]:
summary.loc["mu_2[91]"]

mean             0.09982
sd               0.12329
hdi_3%          -0.12528
hdi_97%          0.33650
mcse_mean        0.00124
mcse_sd          0.00088
ess_mean      9886.35422
ess_sd        9886.35422
ess_bulk      9907.51580
ess_tail     15075.01696
r_hat            1.00021
Name: mu_2[91], dtype: float64

In [56]:
summary.loc["mu_2[105]"]

mean            0.26790
sd              0.14849
hdi_3%         -0.01257
hdi_97%         0.54901
mcse_mean       0.00155
mcse_sd         0.00109
ess_mean     9210.88599
ess_sd       9210.88599
ess_bulk     9210.72297
ess_tail     9327.90963
r_hat           1.00006
Name: mu_2[105], dtype: float64

In [33]:
trace["mu_2"][:,bowler_index["K Rabada"]]

array([ 0.24960261,  0.17831207,  0.03588263, ...,  0.15778465,
        0.17572289, -0.08601433])

In [26]:
trace["mu_2"]

array([[ 0.16866099,  0.03143118,  0.10437558, ...,  0.04479149,
        -0.03603981, -0.03153455],
       [ 0.23030471, -0.18718909, -0.00214847, ..., -0.16698039,
         0.10608509,  0.12403798],
       [ 0.35639444,  0.12053095,  0.21637097, ...,  0.18236339,
         0.17278158,  0.05191501],
       ...,
       [ 0.21834728,  0.04902354,  0.10735688, ..., -0.1549285 ,
        -0.23469898,  0.06232831],
       [ 0.22904815, -0.01444475,  0.10469489, ..., -0.13613517,
        -0.14823155,  0.1026084 ],
       [ 0.28200865, -0.22180348,  0.20764808, ..., -0.17745539,
         0.33129564, -0.21698686]])

In [ ]:
p = np.zeros(shape = (len(batsmen),len(bowlers),9,7))
for i in range(len(batsmen)):
    for j in range(len(bowlers)):
        for l in range(9):
            for k in range(7):
                if k == 0:
                    p[i,j,l,k] = 1/(1 + np.exp(-(cutpoints[l,k] - mu_1[i] + mu_2[j] - delta[l])))
                elif k == 6:
                    p[i,j,l,k] = 1 - 1/(1 + np.exp(-(cutpoints[l,k-1] - mu_1[i] + mu_2[j] - delta[l])))
                else:
                    p[i,j,l,k] = 1/(1 + np.exp(-(cutpoints[l,k] - mu_1[i] + mu_2[j] - delta[l]))) - 1/(1 + np.exp(-(cutpoints[l,k-1] - mu_1[i] + mu_2[j] - delta[l])))
                    
# TODO: can be vectorised

In [21]:
# tmp_directory = "2018-2019-20k-iterations"
# cutpoints = np.loadtxt(tmp_directory + "/cutpoints.txt")
# mu_1 = np.loadtxt(tmp_directory + "/mu_1.txt")
# mu_2 = np.loadtxt(tmp_directory + "/mu_2.txt")
# delta = np.loadtxt(tmp_directory + "/delta.txt")

In [32]:
# deliveries_data, matches, first_innings_data, second_innings_data, both_innings_data = load_data(2018, 2019)
# batsmen, bowlers, batsman_index, bowler_index, batsman_stats, bowler_stats, X, id1, id2, noballs_and_wides = initialise(first_innings_data)

In [33]:
# mu_1_sorted = sorted([(mu_1[i], batsmen[i]) for i in range(len(mu_1))])
# mu_2_sorted = sorted([(mu_2[i], bowlers[i]) for i in range(len(mu_2))])

In [73]:
# mu_1_sorted

In [74]:
# mu_2_sorted

In [58]:
a = np.array([0,1,2])
b = np.array([0,1,2,3])
a+1

array([1, 2, 3])